.transactionHistory {
  margin: auto;
  width: 600px;
  text-align: center;
  background-color: #ffffff7a;
  border-radius: 6px;
  margin-bottom: 20px;
}

.thead {
  background-color: #84bdc5;
  color: #ffffff3f;
  text-transform: uppercase;
}

th,
td {
  font-size: 14px;
  padding: 16px;
  font-weight: 500;
}

td {
  color: #979a9f;
  text-transform: capitalize;
}

tr:nth-child(even) {
  background-color: #b4cddd;
}
.transactionHistory,
th,
td {
  border: 1px solid #e7bdbd;
  border-collapse: collapse;
}
