.listContact {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding: 0;
}
.listContactItem {
  padding: 15px 0;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  border: 1px solid black;
  border-radius: 5px;
}
.listContactItem > span {
  display: block;
}
.buttonDelete {
  font-weight: 600;
  text-transform: uppercase;
}
